/* src/styles/fonts.css */

/* YekanBakh Light */
@font-face {
    font-family: 'YekanBakh';
    font-style: normal;
    font-weight: 300;
    src: url('../public/fonts/YekanBakh/YekanBakh-Light/YekanBakh-Light.eot');
    src: url('../public/fonts/YekanBakh/YekanBakh-Light/YekanBakh-Light.eot?#iefix') format('embedded-opentype'),
         url('../public/fonts/YekanBakh/YekanBakh-Light/YekanBakh-Light.woff') format('woff'),
         url('../public/fonts/YekanBakh/YekanBakh-Light/YekanBakh-Light.ttf') format('truetype');
  }
  
  /* YekanBakh Regular */
  @font-face {
    font-family: 'YekanBakh';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/YekanBakh/YekanBakh-Regular/YekanBakh-Regular.eot');
    src: url('../public/fonts/YekanBakh/YekanBakh-Regular/YekanBakh-Regular.eot?#iefix') format('embedded-opentype'),
         url('../public/fonts/YekanBakh/YekanBakh-Regular/YekanBakh-Regular.woff') format('woff'),
         url('../public/fonts/YekanBakh/YekanBakh-Regular/YekanBakh-Regular.ttf') format('truetype');
  }
  
  /* YekanBakh Medium */
  @font-face {
    font-family: 'YekanBakh';
    font-style: normal;
    font-weight: 500;
    src: url('../public/fonts/YekanBakh/YekanBakh-Medium/YekanBakh-Medium.eot');
    src: url('../public/fonts/YekanBakh/YekanBakh-Medium/YekanBakh-Medium.eot?#iefix') format('embedded-opentype'),
         url('../public/fonts/YekanBakh/YekanBakh-Medium/YekanBakh-Medium.woff') format('woff'),
         url('../public/fonts/YekanBakh/YekanBakh-Medium/YekanBakh-Medium.ttf') format('truetype');
  }
  
  /* YekanBakh Bold */
  @font-face {
    font-family: 'YekanBakh';
    font-style: normal;
    font-weight: 700;
    src: url('../public/fonts/YekanBakh/YekanBakh-Bold/YekanBakh-Bold.eot');
    src: url('../public/fonts/YekanBakh/YekanBakh-Bold/YekanBakh-Bold.eot?#iefix') format('embedded-opentype'),
         url('../public/fonts/YekanBakh/YekanBakh-Bold/YekanBakh-Bold.woff') format('woff'),
         url('../public/fonts/YekanBakh/YekanBakh-Bold/YekanBakh-Bold.ttf') format('truetype');
  }
  
  /* YekanBakh Heavy */
  @font-face {
    font-family: 'YekanBakh';
    font-style: normal;
    font-weight: 800;
    src: url('../public/fonts/YekanBakh/YekanBakh-Heavy/YekanBakh-Heavy.eot');
    src: url('../public/fonts/YekanBakh/YekanBakh-Heavy/YekanBakh-Heavy.eot?#iefix') format('embedded-opentype'),
         url('../public/fonts/YekanBakh/YekanBakh-Heavy/YekanBakh-Heavy.woff') format('woff'),
         url('../public/fonts/YekanBakh/YekanBakh-Heavy/YekanBakh-Heavy.ttf') format('truetype');
  }
  
  /* YekanBakh Fat */
  @font-face {
    font-family: 'YekanBakh';
    font-style: normal;
    font-weight: 900;
    src: url('../public/fonts/YekanBakh/YekanBakh-Fat/YekanBakh-Fat.eot');
    src: url('../public/fonts/YekanBakh/YekanBakh-Fat/YekanBakh-Fat.eot?#iefix') format('embedded-opentype'),
         url('../public/fonts/YekanBakh/YekanBakh-Fat/YekanBakh-Fat.woff') format('woff'),
         url('../public/fonts/YekanBakh/YekanBakh-Fat/YekanBakh-Fat.ttf') format('truetype');
  }